body {
    position: relative;
    width: auto;
    height: auto;
    margin: 10px;
    background: grey !important;
}

#graph {
	width: 75%;
	height: 100%;
	left: 26%;
	top: 0%;
	float: left;
	overflow: hidden;
	position: fixed;
}

.topnav {
	width: 25%;
	background-color: #e9e9e9;
	font-weight: bold;
	border-color: black;
	border-style: solid;
	font-size: 16px;
	padding: 10px;
}
.topnav b:hover
{
   background-color:white;
}
/* Customize the label (the container) */
.topnav .container {

  position: relative;
  padding: 10px;
  cursor: pointer;
  left: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;     
  -ms-user-select: none;
  user-select: none;
  display: flex;
}
/* Hide the browser's default radio button */
.topnav .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.topnav .checkmark {
  position: absolute;
  top: 17px;
  left: 0;
  right: 0px;
  height: 12px;
  width: 12px;
  margin-right: 20px;
  background-color: #000000;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
		background-color: #000000;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
		background-color: #000   
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
		content: "";
		position: absolute;
		display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
		display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
		position: absolute;
		top: 3px;
		left: 3px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: white;
}

.topnav c {
  float: left;
  width: 30px;
  height: 20px;
  border: 2px solid white;
  margin-left: 10px;
  margin-right: 40px;
}

.m-1{
  margin: 1px;
  padding: 2px;
}

button {
	color: green
}